<div class="footer container">
    <nav>
        <ul>
            Development team: 
            <li>
                <a href="#">
                    Kanellis Stathis
                </a>
            </li>
            <li>
                <a href="#">
                    Koutsogiorgos Evagelos
                </a>
            </li>
            <li>
                <a href="#">
                    Parisi Eleni
                </a>
            </li>
            <li>
                <a href="#">
                    Poulakos Giorgos
                </a>
            </li>
            <li>
                &copy; @DateTime.Now.Year - Vegan Shop
            </li>
        </ul>
       
    </nav>
</div>


