<div class="footer container">
    <nav>
        <ul>
            Development team: 
            <li>
                <a href="https://www.creative-tim.com">
                    name - gitHub
                </a>
            </li>
            <li>
                <a href="http://presentation.creative-tim.com">
                    name - gitHub
                </a>
            </li>
            <li>
                <a href="http://blog.creative-tim.com">
                    name - gitHub
                </a>
            </li>
            <li>
                <a href="http://blog.creative-tim.com">
                    name - gitHub
                </a>
            </li>
            <li>
              
                    &copy; @DateTime.Now.Year - Vegan Shop
               
            </li>
        </ul>
       
    </nav>
</div>


