
@model  Vegan.Web.Models.AllProductViewModel
@using PagedList;
@using PagedList.Mvc;

@*<link href="~/Content/assets/PagedList.css" rel="stylesheet" />*@

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <link data-require="bootstrap-css@@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="angular.js@@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <script data-require="ui-bootstrap@@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>


<div ng-controller="VeganController">
    <div id="top" pxlurl="[product_url]">
        <div class="contentbox-wrapper">
            <div class="contentbox docsection boxed productlist">
                <div id="pageheader" class="docsection-wrapper ">
                    <div class="">
                        <div class="breadcrumbs-wrapper clearfix">
                            <div class="breadcrumbs">
                                <section>
                                    <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href="/FoodHerb/IndexUser">Dry food & Herbs > </a> <a href="/Tea/IndexUser">Teas</a></p>
                                </section>
                            </div>
                        </div>
                        <div class="title-wrapper clearfix">
                            <div class="title">
                                <header>
                                    <h1>All Products</h1>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-wrapper clearfix">
                    <div class="header">
                        <header>
                            <h2>
                                <small>Total Items: {{NumberOfProducts}} </small>
                            </h2>
                        </header>
                    </div>
                </div>
                <div class="content-wrapper clearfix">
                    <div class="content">
                        <div class="product" ng-repeat="product in AllProducts">
                            <div class="image" style="background-image: url({{product.ImageURL}});"><img src="~/Content/assets/templates/vegan2020/images/img10x10blank.png" alt="{{product.Title}}"></div>
                            <div class="frame"></div>
                            <div class="info">
                                <div class="info-data">
                                    <div>
                                        <div>
                                            <div class="morebutton"><a ng-click="UrlBuilder(product)" class="btn">Read More</a></div>
                                            <div class="price">

                                                <span class="yourprice">Your Price: <strong>€{{product.Price}}</strong></span>

                                            </div>

                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1429" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3><a ng-click="UrlBuilder(product)"><span><span>{{product.Title}}</span></span></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








