@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        var identity = "Hello " + @User.Identity.GetUserName() + "!";
        <li id="registerLink"><a href="/Manage/Index"><i class="fa fa-registered" aria-hidden="true"></i> <span>@identity</span> </a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Log off</span> </a></li>
    }
}
else
{


    <li id="registerLink"><a href="/Account/Register"><i class="fa fa-registered" aria-hidden="true"></i> <span>Register</span> </a></li>
    <li id="nav-store-login"><a href="/Account/Login"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Log in</span> </a></li>


}

