
<nav class="navbar navbar-expand-sm bg-dark navbar-inverse fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="nav-link" href="/Product/Index">Products</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Care
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Care/Index">Care</a>
                    <a class="dropdown-item" href="/FaceCreams/Index">Face creams</a>
                    <a class="dropdown-item" href="/Hair/Index">Hair</a>
                    <a class="dropdown-item" href="/Lotion/Index">Lotions</a>
                    <a class="dropdown-item" href="/ShaveBeard/Index">Shave Beard</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Food-Herb
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/FoodHerb/Index">Food-Herb</a>
                    <a class="dropdown-item" href="/Salt/Index">Salts</a>
                    <a class="dropdown-item" href="/Spice/Index">Spices</a>
                    <a class="dropdown-item" href="/SproutingSeed/Index">Sprouting seeds</a>
                    <a class="dropdown-item" href="/Tea/Index">Teas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Home
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/HomeVegan/Index">Home</a>
                    <a class="dropdown-item" href="/Candle/Index">Candles</a>
                    <a class="dropdown-item" href="/EssentialOil/Index">Essential Oils</a>
                    <a class="dropdown-item" href="/HomeCleaning/Index">Home cleaning</a>
                    <a class="dropdown-item" href="/Kitchen/Index">Kitchen</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Supplement
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Supplement/Index">Supplements</a>
                    <a class="dropdown-item" href="/PowerHealth/Index">Power Health</a>
                    <a class="dropdown-item" href="/SuperFood/Index">SuperFoods</a>
                </div>
            </li>
        </ul>
       

    </div>
</nav>



<nav id="nav-utils">
    <ul>
        <li id="nav-utils-home"><a href=""><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
        <li id="nav-utils-search"><a href="search.asp"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></a></li>
    </ul>
    <div id="nav-search">
        <div id="searchBox">
            <form method="get" name="searchForm" action="search.asp">
                <input type="text" name="keyword" id="searchlight" class="search-text" placeholder="start typing product name">
                <input class="btn btn-big" type="submit" name="search" id="searchbutton" value="Search">
            </form>
        </div>
    </div>
</nav>
<nav id="nav-tools">
    <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i></span>
    <div class="nav-sub">
        <ul>
            <li><a href="~/Content/Views/Home/Contact.cshtml"><i class="fa fa-fw fa-circle" aria-hidden="true"></i>Contact Us</a></li>
        </ul>
    </div>
</nav>

<nav id="nav-store">

    @Html.Partial("_LoginPartial")


    <ul id="nav-store-icons">
        <li id="nav-store-login"><a href="myaccount.asp"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Login</span></a></li>
        <li id="nav-store-cart"><a href="view_cart.asp"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart</span> <strong>$0</strong></a></li>
    </ul>
</nav>

