
<nav class="navbar navbar-expand-sm bg-dark navbar-inverse fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="nav-link" href="/Product/Index">Products</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Care
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Care/Index">Care</a>
                        <a class="dropdown-item" href="/FaceCreams/Index">Face creams</a>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>