@model IEnumerable<Vegan.Entities.FoodHerb.FoodHerb>

@{
    ViewBag.Title = "Food & Herb Vegan Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/VeganCSS/IndexUserPagesBunchOfCategories.css" rel="stylesheet" />

<div id="subcategories" class="othercategories docsection-wrapper">
    <div class="docsection boxed">
        <div id="pageheader" class="docsection-wrapper">
            <div class="docsection boxed">
                <div class="breadcrumbs-wrapper clearfix">
                    <div class="breadcrumbs">
                        <section>
                            <p><a id='catCrumbFoodHerbLink' href='/'>Home</a> > <a href="/FoodHerb/IndexUser">Food & Herb Products</a></p>
                        </section>
                    </div>
                </div>
                <div class="title-wrapper clearfix">
                    <div class="title">
                        <header>
                            <h1>FoodHerb Products</h1>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div id="top" pxlurl="[product_url]">
            <div class="contentbox-wrapper">
                <div class="contentbox">
                    <div class="productlist docsection-wrapper">
                        <div class="docsection boxed">
                            <div class="content-wrapper clearfix">
                                <div class="content">
                                    <div class="subcats-wrapper clearfix">
                                        <div class="header-wrapper clearfix">
                                            <div class="container">
                                                <div class="header">
                                                    Total Items of all categories: @Model.ToList().Count()
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="columns-5">
                                            <li class="subcats">
                                                <a href="/Salt/IndexUser" class="btn col-2">Salts</a>
                                            </li>
                                            <li class="subcats">
                                                <a href="/Spice/IndexUser" class="btn col-2">Spices</a>
                                            </li>
                                            <li class="subcats">
                                                <a href="/SproutingSeed/IndexUser" class="btn col-2">Spr. Seeds</a>
                                            </li>
                                            <li class="subcats">
                                                <a href="/Tea/IndexUser" class="btn col-2">Teas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
