#top .contentbox-wrapper .contentbox #pageheader .docsection .breadcrumbs-wrapper .breadcrumbs section p {
    color: #cf8a2b;
}

    #top .contentbox-wrapper .contentbox #pageheader .docsection .breadcrumbs-wrapper .breadcrumbs section p a:hover {
        color: black;
    }

#top .contentbox-wrapper .contentbox #pageheader .docsection .title-wrapper .title header h1 {
    color: #cf8a2b;
}

#top .contentbox-wrapper .contentbox #updateback .docsection a {
    border-radius: 6px 6px 6px 6px;
    outline-color: #cf8a2b;
    transition: 0.4s;
}

    #top .contentbox-wrapper .contentbox #updateback .docsection a:hover {
        background-color: #cf8a2b;
        color: black;
        border-color: #cf8a2b;
    }

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .updatebtn > div:first-child {
    border-radius: 6px 6px 0px 0px;
}

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row .item-info .product-image img {
    border: none;
    border-radius: 6px 6px 6px 6px;
}

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row form .item-qty input {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid;
    outline-color: #cf8a2b;
    text-align: center;
}

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row form .item-qty a > i {
    color: #9b9388;
    transition: 0.4s;
}

    #top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row form .item-qty a > i:hover {
        color: #cf8a2b;
    }

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row form .item-remove button {
    border-radius: 20px 20px 20px 20px;
    border: none;
    color: red;
    transition: 0.4s;
}

    #top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .row form .item-remove button:hover {
        background-color: #cf8a2b;
        color: black;
        border-color: #cf8a2b;
    }

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .updatebtn div {
    border-radius: 0px 0px 0px 0px;
}

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .updatebtn .form-group:last-child {
    border-radius: 0px 0px 6px 6px;
}

#top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .updatebtn .form-group p a {
    border-radius: 6px 6px 6px 6px;
    outline-color: #cf8a2b;
    transition: 0.4s;
}

    #top .contentbox-wrapper .contentbox #shoppingcart .docsection #viewCart .shoppingCartItems .updatebtn .form-group p a:hover {
        background-color: #cf8a2b;
        color: black;
        border-color: #cf8a2b;
    }
