.contentbox-wrapper .contentbox #pageheader .docsection .breadcrumbs-wrapper .breadcrumbs section p {
    color: #cf8a2b;
}

    .contentbox-wrapper .contentbox #pageheader .docsection .breadcrumbs-wrapper .breadcrumbs section p a:hover {
        color: black;
    }

.contentbox-wrapper .contentbox #pageheader .docsection .title-wrapper .title header h1 {
    color: #cf8a2b;
}

.contentbox-wrapper .contentbox #pageheader #registration .docsection section form .accountRegForm .loginField {
    display: inline;
}
