@{
        Layout = "~/Views/Shared/Components/_LayoutHome.cshtml";
    }

@*
    
    
    @{
    Layout = "~/Views/Shared/Components/Admin/_LayoutAdmin.cshtml";
}*@

@{
        //if role admin ===> layout
    }
@*<a href = "~/Views/Shared/Components/_LayoutHome.cshtml" > Sosti Home</a>*@