


<div class="footerbox-wrapper">
        <div class="footerbox">
            <div id="footernav">
                <div class="boxed row">
                    <ul class="pages">
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>CUSTOMER SERVICE</span>
                            <ul>
                                <li><a href="/Home/Shipping">Shipping Information</a></li>
                                <li><a href="/Home/Contact">Contact Us</a></li>
                                
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="footerbar">
                <div class="boxed">
                    <a class="phone" href="callto:+306974530777"><i class="fa fa-phone-square" aria-hidden="true"></i> 697-453-0777</a>
                    <ul class="social">
                        <li><a href="/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
                        <li><a href="/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="disclaimer">
                <div class="boxed">
                    <footer>

                        <p>
                            <strong>Disclaimer:</strong> The Vegan Shop is not a pharmacy, nor does it offer any pharmacy related services. The information provided here is for educational purposes only and is not intended as diagnosis, treatment,
                            cure or prescription of any kind. The decision to use, or not to use, any information is the sole responsibility of you, the individual. We recommend that you consult your primary health care provider before using alternative
                            healing methods or products.
                        </p>
                        <p>Zero waste home, Pure Essential Oils, Bath & Body, Wellness Products in Athens, Greece</p>
                        <p>
                            <i class="fa fa-copyright"></i> Copyright
                            <script type="text/javascript" language="javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear())
                            </script> The Vegan Shop. All Rights Reserved. <span>Web Design by VGES team</span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
</div>



