


<div class="footerbox-wrapper container" >
        <div class="footerbox"  >
            <div id="footernav">
                <div class="boxed row" >
                    <ul class="pages">
                        <li><a href="/Home/Shipping">Shipping Information</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                        <li><a href="/TheTeaGame/index">The Tea Game</a></li>
                    </ul>
                </div>
            </div>
            <div id="footerbar">
                <div class="boxed">
                    <a class="phone" href="callto:+306974530777"><i class="fa fa-phone-square" aria-hidden="true"></i> Call the Vegan Shop : 210-453-0777</a>
                </div>
            </div>
            <div id="disclaimer">
                <div class="boxed">
                    <footer>
                        <p>
                            <strong>Development team:</strong> Kanellis Stathis, Koutsogiorgos Evangelos, Parisi Eleni, Poulakos Giorgos
                        </p>
                        <p>
                            <i class="fa fa-copyright"></i> Copyright
                            <script type="text/javascript" language="javascript">
                                var date = new Date();
                                document.write(date.getFullYear())
                            </script> The Vegan Shop. Athens, Greece.
                        </p>
                    </footer>
                </div>
            </div>
        </div>
</div>



