
<div class="footerbox-wrapper container" >
    <div class="footerbox">
        <div id="footernav">
            <div class="boxed row">
                <ul class="pages">
                    <li><a href="/TheTeaGame/index.html" target="_blank">The Tea Game</a></li>
                    <li><a href="/Administrator/Chat">Chat Forum</a></li>
                    <li><a href="https://localhost:44332/swagger/ui/index#">Vegan API</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                </ul>
            </div>
        </div>
        <div id="footerbar">
            <div class="boxed">
                <a class="phone" href="callto:+306974530777"><i class="fa fa-phone-square" aria-hidden="true"></i> Call the Vegan Shop : 210-453-0777</a>
            </div>
        </div>
        <div id="disclaimer">
            <div class="boxed">
                <footer>
                    <p>
                        <i class="fa fa-copyright"></i> Copyright
                        <script type="text/javascript" language="javascript">
                            var date = new Date();
                            document.write(date.getFullYear())
                        </script> The Vegan Shop. Athens, Greece.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
