@{
    ViewBag.Title = "Login Failure";
}

<link href="~/Content/VeganCSS/LogInFailure.css" rel="stylesheet" />

<div id="pageheader" class="docsection-wrapper">
    <div class="docsection boxed">
        <div class="breadcrumbs-wrapper clearfix">
            <div class="breadcrumbs">
                <section>
                    <p><a href="/">Home</a> > <a href="#">Login Error</a></p>
                </section>
            </div>
        </div>
        <div class="title-wrapper clearfix">
            <div class="title">
                <header>
                    <h1>Login Error</h1>
                </header>
            </div>
        </div>
    </div>
</div>
<div id="" class="docsection-wrapper">
    <div class="docsection boxed">
        <section id="message">
            <div class="dottedbox">
                <div class="notice">Your email or password is incorrect! If you forgot your password, please visit the forgot your password page.</div>
                <a type="submit" href="/Account/LogIn" class="btn">Click here to continue</a>
            </div>
        </section>
    </div>
</div>



