<link href="~/Content/VeganCSS/About.css" rel="stylesheet" />

<h1 style="font-size: 48px; padding-top: 5%;"><strong>  Our Team  </strong> </h1>


<div class="row" style="padding: 7%; padding-left: 20%;">
    <div class="column">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding: 15%">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="~/Content/assets/templates/vegan2020/images/StathisKannellis.jpg">
                </div>
                <div class="team-content">
                    <h2>Kanellis </h2>
                    <h2>Stathis </h2>
                    <p class="title">Web Developer</p>
                </div>
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
                    <li><a target="_blank" href="https://github.com/StathisKanellis" class="fa fa-github" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" column">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding: 15%">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="~/Content/assets/templates/vegan2020/images/EleniParisi.jpg">
                </div>
                <div class="team-content">
                    <h2>Parisi </h2>
                    <h2>Eleni </h2>
                    <p class="title">Web Developer</p>
                </div>
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
                    <li><a target="_blank" href="https://github.com/elprs" class="fa fa-github" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class=" column">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding: 15%">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="~/Content/assets/templates/vegan2020/images/GeorgePoulakos (1).jpg">
                </div>
                <div class="team-content">
                    <h2> Poulakos  </h2>
                    <h2>  George  </h2>
                    <p class="title">Web Developer</p>
                </div>
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
                    <li><a target="_blank" href="https://github.com/gpoulakos" class="fa fa-github" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" column">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding: 15%">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="~/Content/assets/templates/vegan2020/images/Evangelos.jpg">
                </div>
                <div class="team-content">
                    <h2>Koutsogiorgos Evangelos</h2>
                    <p class="title">Web Developer</p>
                </div>
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
                    <li><a target="_blank" href="https://github.com/Evangelos-Ks" class="fa fa-github" aria-hidden="true"></a></li>
                    <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/evangelos-koutsogiorgios/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="row" style="padding-bottom: 5%; ">
    <h1 style="font-size: 38px;"><strong>  Technologies used:  </strong> </h1>
    <h1 style="font-size: 38px;">

        .NET Framework
        <br />
        C#
        <br />
        Linq
        <br />
        SQL Server
        <br />
        <br />
        JavaScript/JQuery
        <br />
        Bootstrap 4
        <br />
        Angular
        <br />
        SignalR
        <br />
        Email Confirmation
        <br />
        <br />
        Paypal.sandbox
        <br />
        Web.API
        <br />
        Facebook & Google authentication
        <br />
        Google Maps
        <br />
        API Controller
        <br />
        Swagger UI
        <br />
    </h1>
</div>

