
<style>
    .row {
        font-size: 28px;
    }
    .column {
        float: left;
        width: 50%;
        padding-bottom: 5%;
     
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    img {
        border-radius: 60%; 
        height: 60px; 
        width: 50px;
    }

    h1{
        font-size: 24px;
    }
</style>

<div class="row" style="padding-top: 3%">
    <div class="column" >
        <h2>Kanellis Stathis</h2>
        <img src="~/Content/assets/templates/vegan2020/images/StathisKannellis (1).jpg" />

        <p class="title">Software Developer</p>
        <p>GitHub :<a>https://github.com/StathisKanellis</a>       </p>
    </div>

    <div class=" column">
        <h2>Koutsogiorgos Evaggelos</h2>
        <img src="~/Content/assets/templates/vegan2020/images/Evangelos.jpg" />
        <p class="title">Software Developer</p>
        <p>GitHub:<a> https://github.com/Evangelos-Ks </a> </p>
    </div>
    <h1><a><strong>  Our Team  </strong></a>  </h1>
    <div class=" column">
        <img src="/Content/assets/templates/vegan2020/images/EleniParisi.jpg">
        <h2>Parisi Eleni</h2>
        <p class="title">Software Developer</p>
        <p>GitHub:<a> https://github.com/elprs </a> </p>
    </div>

    <div class=" column">
        <h2>Poulakos George</h2>
        <img src="~/Content/assets/templates/vegan2020/images/GeorgePoulakos (1).jpg" />
        <p class="title">Software Developer</p>
        <p>GitHub: <a>https://github.com/gpoulakos </a> </p>
    </div>
</div>
<br />  
<br />  
<br />  
<div class="row" style="padding-bottom: 5%; ">
    <h1 style="font-size: 28px;"><strong>  Technologies used:  </strong> </h1>
    <h1 style="font-size: 28px;">
        C#
        <br />
        .NET Framework
        <br />
        SQL Server
        <br />
        <br />
        HTML5/CSS
        <br />
        JavaScript
        <br />
        JQuery
        <br />
        Bootstrap 4
        <br />
        ASP.NET MVC
        <br />
        Internet Browsers
        <br />
        Angular
        <br />
        SignalR
        <br />
        <br />
        Paypal.sandbox
        <br />
        Web.API
        <br />
        Facebook authentication
        <br />
        Google authentication
        <br />
        Google Maps
        <br />
        API Controller
        <br />
        Swagger UI
        <br />
    </h1>
</div>

