@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!doctype html>
<html class="no-js" lang="en-GB" x-ms-format-detection="none">

<head>
    <script type="text/javascript" src="Content/assets/templates/common/js/jquery.min.js?vcart=10.1.4"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="apple-touch-icon" sizes="180x180" href="Content/assets/templates/vegan2020/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="Content/assets/templates/vegan2020/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="Content/assets/templates/vegan2020/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="Content/assets/templates/vegan2020/favicons/manifest.json?vcart=10.1.4">
    <link rel="mask-icon" href="Content/assets/templates/vegan2020/favicons/safari-pinned-tab.svg" color="#9b9388">
    <link rel="shortcut icon" href="Content/assets/templates/vegan2020/favicons/favicon.ico">
    <meta name="msapplication-config" content="Content/assets/templates/vegan2020/favicons/browserconfig.xml">
    <meta name="theme-color" content="#fdf7ed">
    <title>Contact</title>

    @*Customed CSS*@
    <link href="~/Content/assets/templates/vegan2020/css/main.css" rel="stylesheet" />




    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Roboto+Condensed:400,400i,700,700i|Roboto:100,900" type="text/css" media="all" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/font-awesome.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/main.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/print.css?vcart=10.1.4" type="text/css" media="print" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/messagebar.min.css?vcart=10.1.4" type="text/css" media="screen" />

    <link rel="alternate" type="application/rss+xml" title="Featured Items (RSS 2.0)" href="https://www.the-apothecary.ca/rss.asp?type=home" />
    <link rel="alternate" type="application/rss+xml" title="Products On Sale (RSS 2.0)" href="https://www.the-apothecary.ca/rss.asp?type=onsale" />
    <link rel="alternate" type="application/rss+xml" title="New Releases (RSS 2.0)" href="https://www.the-apothecary.ca/rss.asp?type=newreleases" />
    <link rel="alternate" type="application/rss+xml" title="Best Sellers (RSS 2.0)" href="https://www.the-apothecary.ca/rss.asp?type=bestsellers" />
    <link rel="alternate" type="application/rss+xml" title="Latest Blog Posts (RSS 2.0)" href="https://www.the-apothecary.ca/rss.asp?type=blog" />

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write("<script type=\"text/javascript\" src=\"Content/assets/templates/vegan2020/js/jquery-1.11.1.min.js?vcart=10.1.4\"></" + "script>");
        }
    </script>


    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/gambit-smoothscroll-min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/pxl.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/common-html5/js/utilities.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/common-html5/js/functions.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/jquery.quicksearch.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/jquery.simplemodal.min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/messagebar.min.js?vcart=10.1.4"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#searchlight').searchlight('/search_quick.asp');
        });
    </script>
    <script type="text/javascript">
        new GambitSmoothScroll({
            amount: 150, // The scroll amount
            speed: 900 // The scroll speed
        });
    </script>
    <script type="text/javascript">
        (function ($) {

            var ThisDocURL;
            var ThisDocURLenc;
            $(document).ready(function () {
                ThisDocURL = '[product_url]';
                ThisDocURLenc = encodeURIComponent(ThisDocURL);
            });

        })(jQuery);
    </script>
    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-48564345-1']); _gaq.push(['_addDevId', '5Fyti']); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</head>
<body>
    <div id="top" pxlurl="[product_url]">

        <div id="curtain"></div>
        
        <div class="contentbox-wrapper">
            <div class="contentbox">




                <style type="text/css">

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
                </style>
                <script type="text/javascript">
	var addReplyClick = 0;

	function submitFormContactUs(strAction) {
		document.frmForm.action.value = strAction;
		document.frmForm.submit();
	}
	function addNew() {
		var strMsg = "";
		if (document.frmForm.customer.value.trim() == "")
			strMsg += " - Name cannot be blank.\n";
		if (document.frmForm.custemail.value.trim() == "" || !isValidEmail(document.frmForm.custemail.value))
			strMsg += " - Email cannot be blank and must be a valid email address.\n";
		if (document.frmForm.subject.value.trim() == "")
			strMsg += " - Subject cannot be blank.\n";
		if (document.frmForm.reply.value.trim() == "")
			strMsg += " - Message cannot be blank.\n";
		//<!--START: captchascript-->
		if (document.frmForm.ramdomWord.value.trim() == "")
			strMsg += " - Verification word cannot be blank.\n";
		//<!--END: captchascript-->

		if (ExistsCreditCard(jQuery('#reply').val()))
		strMsg += "Hi there.\n\nIt looks like you\'ve entered a credit card number in this order\'s comments section. The comments section is not the right place to enter your billing information. When ordering items online, your credit card information is typically transferred securely to an online payment gateway via the eCommerce store\'s payment methods.  When you get to the Billing Information section of this order, you will see the appropriate areas where you can enter your credit card number, expiration date and CCV code accordingly for secure payment.\n\nAs an online consumer, you should never be asked to enter the credit card information into an open text field such as the comments of the order. If you are being asked to do this by the merchant, please be aware that your credit card information can be seen by the merchant.\n\nPlease, verify the information entered in the comments field and try again.";

		if (strMsg != "") {
			alert(strMsg);
			return false;
		}
		if (addReplyClick == 0) {
			addReplyClick = 1;
			submitFormContactUs('addnew');
		}

	}
	String.prototype.trim = function() {
		return this.replace(/^\s+|\s+$/g,"");
	}
	function isValidEmail(str) {

		var at="@@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)

		if (str.indexOf(at)==-1)
		return false

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr)
		return false

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr)
			return false

		if (str.indexOf(at,(lat+1))!=-1)
			return false

		if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot)
			return false

		if (str.indexOf(dot,(lat+2))==-1)
			return false

		if (str.indexOf(" ")!=-1)
			return false

		return true
	}
                </script>



                <div id="pageheader" class="docsection-wrapper">
                    <div class="docsection boxed">
                        <div class="breadcrumbs-wrapper clearfix">
                            <div class="breadcrumbs">
                                <section>
                                    <p><a href="/">Home</a> > Contact Us</p>
                                </section>
                            </div>
                        </div>
                        <div class="title-wrapper clearfix">
                            <div class="title">
                                <head>
                                    <h1>Contact Us</h1>
                                </head>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="updateform" class="docsection-wrapper">
                    <div class="docsection boxed">
                        <section id="contactUs">
                            <div class="storeInfo pad10 boxShadow">
                                <div class="header">
                                    <h3>You can find us at:</h3>
                                </div>
                                <div class="store-address1 item">921 9th Ave SE</div>
                                <div class="store-address2 item"></div>
                                <div class="store-city item">Calgary, AB. T2G0S5</div>
                                <div class="store-country item">CA</div>
                                <div class="item"><strong>Phone:</strong> 403-453-0313</div>
                                <div class="button store-loc"><a href="http://maps.google.com/maps?oi=map&q=921 9th Ave SE+Calgary+AB+T2G0S5" target="_self" class="icon-btn icon-btn-geopin btn">Get Directions</a></div>
                                <div class="clear"></div>
                            </div>
                            <hr>
                            <div class="header">
                                <h3>donation requests:</h3>
                            </div>
                            <p>PLEASE FILL OUT OUR DONATION REQUEST FORM <a href="Donations_ep_61-1.html">HERE</a>.</p>
                            <hr>
                            <div class="clear"></div>
                            <div class="crmForm pad10 boxShadow">
                                <form method="post" action="crm.asp" id="frmForm" name="frmForm">
                                    <input type="hidden" name="action" id="action" value="" />
                                    <input type="hidden" name="custid" value="0" />
                                    <input type="hidden" name="orderid" value="" />
                                    <input type="hidden" name="productid" value="[productid]" />
                                    <div class="header">
                                        <h3>Contact Form</h3>
                                    </div>
                                    <div class="crmField">
                                        <label for="departmentid">Department:</label>
                                        <select name="departmentid" id="departmentid" tabindex="1" class="txtBoxStyle">
                                            <option value='1'>General</option>
                                            <option value='2'>Web/Online Orders</option>
                                            <option value='3'>Classes</option>
                                            <option value='4'>Wholesale</option>
                                        </select>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="crmField">
                                        <label for="customer">Name:</label>
                                        <input type="text" name="customer" value="" size="40" maxlength="50" tabindex="2" class="txtBoxStyle" />
                                        <div class="error-img"><img src="Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="Error" /></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="crmField">
                                        <label for="phone">Phone:</label>
                                        <input type="text" name="phone" value="" size="40" maxlength="50" tabindex="3" class="txtBoxStyle" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="crmField">
                                        <label for="custemail">Email:</label>
                                        <input type="email" name="custemail" value="" size="40" maxlength="50" tabindex="4" class="txtBoxStyle" />
                                        <div class="error-img"><img src="Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="Error" /></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="crmField">
                                        <label for="subject">Subject:</label>
                                        <input name="subject" type="text" id="subject" value="" size="40" maxlength="150" tabindex="5" class="txtBoxStyle" />
                                        <div class="error-img"><img src="Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="Error" /></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="crmField">
                                        <label for="reply">Message:</label>
<textarea name="reply" id="reply" tabindex="6" class="txtBoxStyle"></textarea>
                                        <div class="error-img"><img src="Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="Error" /></div>
                                    </div>


                                    <div class="crmField">
                                        <label for="ramdomWord">Verification:</label>
                                        <div class="captcha">
                                            <img src="admin/image_pw.asp" width="148" alt="" />
                                            <div class="captcha-text">Type the word above...</div>
                                            <input type="text" name="ramdomWord" id="ramdomWord" autocomplete="off" value="" size="25" maxlength="30" tabindex="7" class="txtBoxStyle" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                    <div id="divSubmitButton" class="update-btn">
                                        <button type="button" onclick="javascript:addNew();" class="btn"><i class="icon-pencil"></i> Submit Request</button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>




            </div>
        </div>
        <div class="footerbox-wrapper">
            <div class="footerbox">
                <div id="footernav">
                    <div class="boxed">
                        <ul class="pages">
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>OUR STORY</span>
                                <ul>
                                    <li><a href="meet-our-team.html">Meet Our Team</a></li>
                                    <li><a href="mission_statement.html">Mission Statement</a></li>
                                    <li><a href="employment.html">Employment</a></li>
                                    <li class="news"><a href="blog.asp">Blog</a></li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>KNOWLEDGE</span>
                                <ul>
                                    <li><a href="Classes_c_92.html">Classes</a></li>
                                    <li><a href="Books_c_93.html">Books</a></li>
                                    <li><a href="What-is-Aromatherapy_ep_46.html">What is Aromatherapy</a></li>
                                    <li><a href="What-is-an-Essential-Oil_ep_47.html">What is an Essential Oil</a></li>
                                    <li><a href="therapeutic-grade-defined_ep_50.html">Therapeutic Grade Defined</a></li>
                                    <li><a href="Storing-Essential-Oils_ep_48.html">Storing Essential Oils</a></li>
                                    <li><a href="Uses-of-Essential-Oils_ep_44.html">Uses of Essential Oils</a></li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>CUSTOMER SERVICE</span>
                                <ul>
                                    <li><a href="shipping_information.html">Shipping Information</a></li>
                                    <li><a href="return_policy.html">Return Policy</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="Gift-Certificates_p_12.html">Gift Certificates</a></li>
                                    <li><a href="crm.asp?action=contactus">Contact Us</a></li>
                                    <li><a href="store_hours.html">Store Hours</a></li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>ACCOUNT</span>
                                <ul>
                                    <li><a href="myaccount.asp">Login</a></li>
                                    <li><a href="myaccount.asp">Dashboard</a></li>
                                    <li><a href="ordertracking.asp">Recent Orders</a></li>
                                    <li><a href="view_wishlist.asp">Wish List</a></li>
                                    <li><a href="gc_view.asp">Gift Certificates</a></li>

                                </ul>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>WHOLESALE</span>
                                <ul>
                                    <li><a href="https://wholesale.allthingsjill.ca">Become a Wholesaler</a></li>
                                    <li><a href="https://wholesale.allthingsjill.ca">Wholesale Login</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footerbar">
                    <div class="boxed">
                        <a class="phone" href="callto:+14034530313"><i class="fa fa-phone-square" aria-hidden="true"></i> 403-453-0313</a>
                        <ul class="social">
                            <li><a href="http://www.facebook.com/apothecary.inglewood" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
                            <li><a href="http://twitter.com/ApothecaryYYC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                            <li><a href="http://www.instagram.com/apothecaryyyc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
                        </ul>
                        <a class="newsletter" href="https://www.the-apothecary.ca/Join-the-AromaticLife-_ep_59-1.html"><i class="fa fa-paper-plane" aria-hidden="true"></i> <strong>SUBSCRIBE</strong> TO THE <span>#AromaticLife</span> NEWSLETTER</a>
                    </div>
                </div>
                <div id="disclaimer">
                    <div class="boxed">
                        <footer>

                            <p><strong>Disclaimer:</strong> The Apothecary in Inglewood is not a pharmacy, nor does it offer any pharmacy related services. The information provided here is for educational purposes only and is not intended as diagnosis, treatment, cure or prescription of any kind. The decision to use, or not to use, any information is the sole responsibility of you, the individual. We recommend that you consult your primary health care provider before using alternative healing methods or products.</p><p>Zero waste home, Refillery, Pure Essential Oils, Bath & Body, Wellness Products in Calgary, Alberta, Canada</p>
                            <p><i class="fa fa-copyright"></i> Copyright
                            <script type="text/javascript" language="javascript">var date = new Date(); document.write(date.getFullYear())</script> The Apothecary in Inglewood. All Rights Reserved. <span>Web Design by <a href="http://pixelscience.ca" target="_blank">Pixel Science</a></span></p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">

        <script type="text/javascript">
//<![CDATA[
var file='/stats/count.asp';
var stats_d=new Date();
var stats_s=stats_d.getSeconds();
var stats_m=stats_d.getMinutes();
var stats_x=stats_s*stats_m;
var prdID = '[catalogid]';
var catID = '[catid]';
stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
if (navigator.appName=='Netscape'){stats_b='NS';}
if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';}
if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; stats_h=screen.height;
stats_v=navigator.appName;
stats_fs = window.screen.fontSmoothingEnabled;
if (stats_v != 'Netscape') {stats_c=screen.colorDepth;}
else {stats_c=screen.pixelDepth;}
stats_j=navigator.javaEnabled();
info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
document.write('<img src="' + file + '?'+info+ '" width="1" height="1" border="0" alt="stats" />');
//]]>
        </script>
        <noscript>
            <img src="/stats/count.asp" width="90" height="30" alt="" />
        </noscript>

    </div>
    <script type="text/javascript">var _cart_secure_url = "https://www.the-apothecary.ca"</script>
    <script>(new Image()).src = 'https://www.the-apothecary.ca/3dvisit.asp'</script>
</body>
</html>
