@{
    ViewBag.Title = "Welcome to Vegan";
    Layout = "~/Views/Shared/Components/_LayoutHome.cshtml";
}


<!doctype html>
<html class="no-js" lang="en-GB" x-ms-format-detection="none">

<head>

    @*TODO    check which scripts - links  are usefull in all head --- check for folders which from the scripts read from========*@
    <script type="text/javascript" src="Content/assets/templates/common/js/jquery.min.js?vcart=10.1.4"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <META NAME="DESCRIPTION" CONTENT="Zero Waste Home, Refillery, Pure Essential Oils, Organic Natural Wellness Products | Calgary, Alberta, Canada">
    <META NAME="ABSTRACT" CONTENT="">
    <META NAME="KEYWORDS" CONTENT="zero waste, essential, oils, cosmetics natural, wellness, pure, sustainable, therapeutic, body care, organic, refill, refillery, soap, zerowaste">
    <link rel="apple-touch-icon" sizes="180x180" href="Content/assets/templates/vegan2020/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="Content/assets/templates/vegan2020/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="Content/assets/templates/vegan2020/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="Content/assets/templates/vegan2020/favicons/manifest.json?vcart=10.1.4">
    <link rel="mask-icon" href="Content/assets/templates/vegan2020/favicons/safari-pinned-tab.svg" color="#9b9388">
    <link rel="shortcut icon" href="Content/assets/templates/vegan2020/favicons/favicon.ico">
    <meta name="msapplication-config" content="Content/assets/templates/vegan2020/favicons/browserconfig.xml">
    <meta name="theme-color" content="#fdf7ed">
    <title>Welcome to The Apothecary in Inglewood - Pure essential oils, zero waste home, natural, organic bath, body, wellness & #Refillery | Calgary, Alberta</title>
 




    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Roboto+Condensed:400,400i,700,700i|Roboto:100,900" type="text/css" media="all" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/font-awesome.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/main.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/print.css?vcart=10.1.4" type="text/css" media="print" />
    <link rel="stylesheet" href="Content/assets/templates/vegan2020/css/messagebar.min.css?vcart=10.1.4" type="text/css" media="screen" />






    <style>
        /*TODO address css*/
    </style>

    <link href="~/Content/assets/templates/vegan2020/css/main.css" rel="stylesheet" />




    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write("<script type=\"text/javascript\" src=\"Content/assets/templates/vegan2020/js/jquery-1.11.1.min.js?vcart=10.1.4\"></" + "script>");
        }
    </script>


    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/gambit-smoothscroll-min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/pxl.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/common-html5/js/utilities.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/common-html5/js/functions.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/jquery.quicksearch.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/jquery.simplemodal.min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="Content/assets/templates/vegan2020/js/messagebar.min.js?vcart=10.1.4"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#searchlight').searchlight('/search_quick.asp');
        });
    </script>
    <script type="text/javascript">
        new GambitSmoothScroll({
            amount: 150, // The scroll amount
            speed: 900 // The scroll speed
        });
    </script>
    <script type="text/javascript">
        (function ($) {

            var ThisDocURL;
            var ThisDocURLenc;
            $(document).ready(function () {
                ThisDocURL = '[product_url]';
                ThisDocURLenc = encodeURIComponent(ThisDocURL);
            });

        })(jQuery);
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-48564345-1']);
        _gaq.push(['_addDevId', '5Fyti']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>
    <div id="top" pxlurl="[product_url]">

        <div id="curtain"></div>
        <div class="headerbox-wrapper">
            <div class="headerbox">
                <div id="topbar">
                    <div>
                        <nav id="nav-utils">
                            <ul>
                                <li id="nav-utils-home"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
                                <li id="nav-utils-search"><a href="search.asp"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></a></li>
                            </ul>
                            <div id="nav-search">
                                <div id="searchBox">
                                    <form method="get" name="searchForm" action="search.asp">
                                        <input type="text" name="keyword" id="searchlight" class="search-text" placeholder="start typing product name">
                                        <input class="btn btn-big" type="submit" name="search" id="searchbutton" value="Search">
                                    </form>
                                </div>
                            </div>
                        </nav>
                        <nav id="nav-tools">
                            <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <div class="nav-sub">
                                <ul>
                                    <li><a href="crm.asp?action=contactus"><i class="fa fa-fw fa-circle" aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>

                        <nav id="nav-store">
                            <ul id="nav-store-icons">
                                <li id="nav-store-login"><a href="myaccount.asp"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Login</span></a></li>
                                <li id="nav-store-cart"><a href="view_cart.asp"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart</span> <strong>$0</strong></a></li>
                            </ul>
                        </nav>


                    </div>
                </div>
                <div id="logo">
                    <header>
                        <a href="/">
                            <img src="~/Content/assets/templates/vegan2020/images/img160x104floral.png" alt="The Vegan Shop"/>
                            <label style="display:block; font-size:xx-large;">The Vegan Shop</label> 
                        </a>
                    </header>
                </div>
                <div id="mainmenu">
                    <div>
                        <nav id="nav-categories">
                            <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i> Shop</span>

                            <ul id="desktopMenu" class="categories">
                                <li>
                                    <a href="Shop-By-Brand_c_211.html" class="cat">Home  to be constructed</a>
                                    <ul class="subMenu">
                                        <li><a href="All-Things-Jill_c_234.html" class="subcat"> .... </a></li>
                                        <li><a href="Bambu_c_306.html" class="subcat">Bambu</a></li>
                                        <li><a href="Bkind-natural-nail-care" class="subcat">BKind</a></li>
                                        <li><a href="Cha-Tea_c_310.html" class="subcat">Ch'a Tea</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="bulk-Culinary-dry-goods_c_265.html" class="cat">Food Herb  to be constructed</a>
                                    <ul class="subMenu">
                                        <li><a href="Gum_c_271.html" class="subcat">Gum</a></li>
                                        <li><a href="/" class="subcat">Herbs</a></li>
                                        <li><a href="Peppers_c_295.html" class="subcat">Peppers</a></li>
                                        <li><a href="Salts_c_294.html" class="subcat">Salts</a></li>
                                        <li><a href="Soups_c_299.html" class="subcat">Soups</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Zero-Waste-Lifestyle_c_183.html" class="cat">Supplement  to be constructed</a>
                                    <ul class="subMenu">
                                        <li><a href="Zero-Waste-Home-Cleaning" class="subcat">Cleaning</a></li>
                                        <li><a href="Containers-and-Wraps_c_311.html" class="subcat">Containers and Wraps</a></li>
                                        <li><a href="Face-Body_c_195.html" class="subcat">Face & Body</a></li>
                                        <li><a href="First-Aid_c_210.html" class="subcat">First Aid</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Personal-Care_c_245.html" class="cat">Care  to be constructed</a>
                                    <ul class="subMenu">
                                        <li><a href="Bath-Shower_c_29.html" class="subcat">Bath & Shower</a></li>
                                        <li><a href="Lotions-Body-Treatments_c_249.html" class="subcat">Lotions + Body Treatments</a></li>
                                        <li><a href="Deodorant_c_119.html" class="subcat">Deodorant</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentbox-wrapper">
            <div class="contentbox">


                <div id="slider" class="slider-wrapper theme-default">

                    <link rel="stylesheet" href="/assets/templates/common-html5/css/flexslider.css?vcart=10.1.4" type="text/css" media="screen" />
                    <script type="text/javascript" src="/assets/templates/common-html5/js/jquery.flexslider-min.js?vcart=10.1.4"></script>
                    <div id="homeCarousel" class="flexslider">
                        <ul class="slides">

                            <li><a href="/"><img src="Content/assets/images/HomePageCarousel/your-green-kitchen-sale-banner.jpg" alt="" /></a></li>
                            <li><a href="/"><img src="Content/assets/images/HomePageCarousel/closure-banner-2020.jpg" alt="" /></a></li>
                            <li><a href="/"><img src="Content/assets/images/zw-living-2020-1.jpg" alt="" /></a></li>

                        </ul>
                    </div>
                    <script type="text/javascript" charset="utf-8">
                        jQuery(document).ready(function () {
                            jQuery('#homeCarousel').flexslider({
                                animation: "fade",
                                slideshowSpeed: 6000,
                                controlNav: false,
                                keyboard: false
                            });
                        });
                    </script>

                </div>


                <div id="quickinfo" class="docsection-wrapper ">
                    <div class="docsection boxed">
                        <div class="content-wrapper clearfix">
                            <div class="floral-l"></div>
                            <div class="floral-r"></div>
                            <div class="content">
                                <section>
                                    <p><em>Flat rate shipping in Canada:</em> <span><strong>Now $7.50</strong> on all orders</span> | <span><strong>FREE SHIPPING</strong> on orders over $100</span> </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="banners" class="docsection-wrapper">
                    <div class="docsection boxed">
                        <div class="banner-wrapper clearfix">
                            <div id="ban-thin" class="banner"><a href="/"><img src="Content/assets/images/thin-reduced-waste-lifestyle.jpg" alt="Your One Stop Reduced Waste Lifestyle Shoppe"></a></div>
                        </div>
                        <div class="banner-wrapper clearfix">
                            <div id="ban-left" class="banner"><a href="/"><img src="Content/assets/images/trio-naturel-tea.jpg" alt="Bulk Loose Leaf Organic Tea"></a></div>
                            <div id="ban-right" class="banner"><a href="/"><img src="Content/assets/images/trio-essential-oils.jpg" alt="Pure Essential Oils"></a></div>
                            <div id="ban-middle" class="banner"><a href="/"><img src="Content/assets/images/trio-wide-zero-waste-home.jpg" alt="Zero Waste Lifestyle"></a></div>
                        </div>
                    </div>
                </div>
                <div id="banners" class="docsection-wrapper">
                    <div class="docsection boxed">
                        <div class="banner-wrapper clearfix">
                            <div id="ban-thin" class="banner"><a href="/"><img src="Content/assets/images/thin-what-were-up-to.jpg" alt="What's Going on at The Apothecary"></a></div>
                        </div>
                        <div class="banner-wrapper clearfix">
                            <div id="ban-left" class="banner"><a href="/"><img src="Content/assets/images/trio-devils-head.jpg" alt="Brewing Ethical Coffee with Devils Head"></a></div>
                            <div id="ban-right" class="banner"><a href="/"><img src="Content/assets/images/trio-over-harvesting.jpg" alt="Over Harvesting of Essential Oils"></a></div>
                            <div id="ban-middle" class="banner"><a href="/"><img src="Content/assets/images/trio-living-small-home.jpg" alt="Five Awesome Things About Living in a Small Home"></a></div>
                        </div>
                    </div>
                </div>
                <div id="intro" class="docsection-wrapper">
                    <div class="line"></div>
                    <div class="docsection boxed">
                        <div class="content-wrapper clearfix">
                            <div class="content">
                                <section>
                                    <p>
                                        Welcome to The Vegan Shop! We are certain that you'll find the wellness products you need when you shop here!
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                @*TODO check this*@
                <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
                <script type="text/javascript">
                    require(["mojo/signup-forms/Loader"], function (L) {
                        L.start({
                            "baseUrl": "mc.us5.list-manage.com",
                            "uuid": "b779fe6af514f6d1bc0f3d51a",
                            "lid": "50cb3243c6"
                        })
                    })
                </script>





            </div>
        </div>
        <div class="footerbox-wrapper">
            <div class="footerbox">
                <div id="footernav">
                    <div class="boxed row">
                        <ul class="pages col-6">
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>CUSTOMER SERVICE</span>
                                <ul>
                                    <li><a href="shipping_information.html">Shipping Information</a></li>
                                    <li><a href="return_policy.html">Return Policy</a></li>
                                    <li><a href="crm.asp?action=contactus">Contact Us</a></li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>ACCOUNT</span>
                                <ul>
                                    <li><a href="myaccount.asp">Login</a></li>
                                    <li><a href="myaccount.asp">Dashboard</a></li>
                                    <li><a href="ordertracking.asp">Recent Orders</a></li>
                                    <li><a href="view_wishlist.asp">Wish List</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footerbar">
                    <div class="boxed">
                        <a class="phone" href="callto:+14034530313"><i class="fa fa-phone-square" aria-hidden="true"></i> 697-453-0777</a>
                        <ul class="social">
                            <li><a href="/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
                            <li><a href="/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                            <li><a href="/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="disclaimer">
                    <div class="boxed">
                        <footer>

                            <p>
                                <strong>Disclaimer:</strong> The Vegan Shop is not a pharmacy, nor does it offer any pharmacy related services. The information provided here is for educational purposes only and is not intended as diagnosis, treatment,
                                cure or prescription of any kind. The decision to use, or not to use, any information is the sole responsibility of you, the individual. We recommend that you consult your primary health care provider before using alternative
                                healing methods or products.
                            </p>
                            <p>Zero waste home, Pure Essential Oils, Bath & Body, Wellness Products in Athens, Greece</p>
                            <p>
                                <i class="fa fa-copyright"></i> Copyright
                                <script type="text/javascript" language="javascript">
                                    var date = new Date();
                                    document.write(date.getFullYear())
                                </script> The Vegan Shop. All Rights Reserved. <span>Web Design by VGES team</span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">

        <script type="text/javascript">
            //<![CDATA[
            var file = '/stats/count.asp';
            var stats_d = new Date();
            var stats_s = stats_d.getSeconds();
            var stats_m = stats_d.getMinutes();
            var stats_x = stats_s * stats_m;
            var prdID = '[catalogid]';
            var catID = '[catid]';
            stats_f = '' + escape(document.referrer);
            stats_f = stats_f.replace('_', '----');
            if (navigator.appName == 'Netscape') {
                stats_b = 'NS';
            }
            if (navigator.appName == 'Microsoft Internet Explorer') {
                stats_b = 'MSIE';
            }
            if (navigator.appVersion.indexOf('MSIE 3') > 0) {
                stats_b = 'MSIE';
            }
            stats_u = '' + escape(document.URL);
            stats_u = stats_u.replace('_', '----');
            stats_w = screen.width;
            stats_h = screen.height;
            stats_v = navigator.appName;
            stats_fs = window.screen.fontSmoothingEnabled;
            if (stats_v != 'Netscape') {
                stats_c = screen.colorDepth;
            } else {
                stats_c = screen.pixelDepth;
            }
            stats_j = navigator.javaEnabled();
            info = 'w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u=' + stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
            document.write('<img src="' + file + '?' + info + '" width="1" height="1" border="0" alt="stats" />');
            //]]>
        </script>
        <noscript>
            <img src="/stats/count.asp" width="90" height="30" alt="" />
        </noscript>

    </div>
    <script type="text/javascript">
        var _cart_secure_url = "/"
    </script>
    <script>
        (new Image()).src = '/'
    </script>
</body>

</html>