
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h1 class="text-center">Google Map</h1>
    <h2 class="text-center">Origins of Vegan Tea</h2>

    <div id="map" style="
    height: 400px;
    width: 100%;">

    </div>
